html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  margin: 50px 162px;
}
html header {
  padding: 20px 34px;
  border-radius: 100px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-11, #1C1C1C);
}
html header .row g-1 col {
  margin-bottom: 20px;
}
html header .row g-1 a {
  text-decoration: none;
}

body {
  background: var(--Grey-10, #1A1A1A) !important;
}

header ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  font-size: 18px;
  font-family: Lexend;
  font-style: normal;
  font-weight: 400;
  color: var(--Absolute-White, #FFF);
  gap: 25px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

header a {
  text-decoration: none;
  color: inherit;
}
header .btn__login {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .btn__login a {
  color: var(--Grey-11, #1C1C1C);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  text-decoration: none;
}
header .Login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 82px;
  background: var(--Green-60, #CAFF33);
}

.btn__login span {
  color: var(--Absolute-White, #FFF);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.Log__Slide {
  margin: 53px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  width: 1326px;
  padding: 100px 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 80px;
  border-radius: 20px;
  border: 1px solid var(--Grey-15, #262626);
  background: url(<path-to-image>), lightgray 50%/cover no-repeat, #1C1C1C;
  background-blend-mode: overlay, normal;
}

.row {
  gap: 80px;
  width: 100%;
}

.Lgmain h1 {
  color: var(--Green-60, #CAFF33);
  text-align: center;
  font-family: Lexend;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Lgmain h5 {
  color: var(--Grey-75, #BFBFBF);
  text-align: center;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.User {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.User__Memmory {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.User__Memmory .Email, .User__Memmory .Password {
  border-radius: 88px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1A1A1A);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  color: var(--Grey-35, #59595A);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 27px */
}

.Forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--Absolute-White, #FFF);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.Forgot a {
  text-decoration: underline;
  color: #fff;
}

.Panel {
  padding: 0 240px;
  gap: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Panel #Login {
  width: 518px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  color: var(--Grey-15, #262626);
  text-align: center;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 63px;
  background: var(--Green-60, #CAFF33);
  text-decoration: none;
}
.Panel #Sing {
  width: 518px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  color: var(--Absolute-White, #FFF);
  text-align: center;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 63px;
  border: 1px solid var(--Grey-20, #333);
  background: var(--Grey-15, #262626);
}

.Line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.Line img {
  margin-bottom: 15px;
}
.Line p {
  color: var(--Grey-70, #B3B3B3);
  text-align: center;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  border-radius: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(202, 255, 51, 0.05)), to(rgba(202, 255, 51, 0)));
  background: linear-gradient(180deg, rgba(202, 255, 51, 0.05) 0%, rgba(202, 255, 51, 0) 100%);
}
.buttons img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid #CAFF33;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-66.22%, rgba(202, 255, 51, 0.1)), color-stop(85.46%, rgba(202, 255, 51, 0)));
  background: linear-gradient(180deg, rgba(202, 255, 51, 0.1) -66.22%, rgba(202, 255, 51, 0) 85.46%);
}

.cont_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}

.cont__nt {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
}

.textct1 h1 {
  color: var(--Absolute-White, #FFF);
  font-family: Lexend;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 72px */
}
.textct1 h1 span {
  color: var(--Green-60, #CAFF33);
  font-family: Lexend;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.textct1 h5 {
  color: var(--Grey-35, #59595A);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 27px */
}

.textct {
  margin-top: 60px;
  width: 386px;
  height: 83px;
  border-radius: 82px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-11, #1C1C1C);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.textct ul {
  padding: 1px 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.textct span {
  color: var(--Grey-11, #1C1C1C);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  text-decoration: none;
}
.textct li {
  gap: 24px;
  font-size: 18px;
  font-family: Lexend;
  font-style: normal;
  font-weight: 400;
  color: var(--Absolute-White, #FFF);
}
.textct li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 140px;
  background: var(--Green-60, #CAFF33);
}

.cont__slideer {
  gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cont__slideer .cont_block {
  width: 404px;
}
.cont__slideer .slidder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cont__slideer .text {
  color: var(--Absolute-White, #FFF);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.cont__slideer .Name {
  color: var(--Green-60, #CAFF33);
  text-align: center;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 162px 50px 162px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
footer hr {
  background: #262626;
  width: 1596px;
  height: 1px;
}
footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}
footer li {
  gap: 6px;
  color: var(--White-Shades-90, #E4E4E7);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
footer .cont li {
  color: var(--White-Shades-90, #E4E4E7);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  gap: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot_btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 30px 16px 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 100px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1A1A1A);
}
.foot_btm .icon1 .icon2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}
.foot_btm .icon1 .icon2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  background: var(--Green-60, #CAFF33);
}
.foot_btm .YourBank {
  color: var(--Grey-35, #59595A);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 27px */
}
.foot_btm .PolPr {
  color: var(--Grey-35, #59595A);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 27px */
  gap: 12px;
}

.User__Memmory1 {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.User__Memmory1 .First, .User__Memmory1 .Second {
  border-radius: 88px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1A1A1A);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  color: var(--Grey-35, #59595A);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 27px */
}

.User__Memmory2 {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.User__Memmory2 .Email, .User__Memmory2 .Password {
  border-radius: 88px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1A1A1A);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  color: var(--Grey-35, #59595A);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 27px */
}

main .main__sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: -260px;
  border-radius: 20px;
  background: var(--Grey-11, #1C1C1C);
}
main .main__sc .main__sc, main .main__sc .text1 {
  z-index: 5;
}
main .main__sc .main__sc .main__sc, main .main__sc .main__sc .text1, main .main__sc .main__sc .top_text, main .main__sc .text1 .main__sc, main .main__sc .text1 .text1, main .main__sc .text1 .top_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 23px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px 0px 80px 20px;
  background: var(--Grey-10, #1A1A1A);
}
main .main__sc .main__sc .main__sc h1, main .main__sc .main__sc .text1 h1, main .main__sc .main__sc .top_text h1, main .main__sc .text1 .main__sc h1, main .main__sc .text1 .text1 h1, main .main__sc .text1 .top_text h1 {
  color: var(--Absolute-White, #FFF);
  font-family: Lexend;
  font-size: 58px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 75.4px */
}
main .main__sc .main__sc .main__sc h1 span, main .main__sc .main__sc .text1 h1 span, main .main__sc .main__sc .top_text h1 span, main .main__sc .text1 .main__sc h1 span, main .main__sc .text1 .text1 h1 span, main .main__sc .text1 .top_text h1 span {
  color: var(--Green-60, #CAFF33);
  font-family: Lexend;
  font-size: 58px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
main .main__sc .main__sc .main__sc h5, main .main__sc .main__sc .text1 h5, main .main__sc .main__sc .top_text h5, main .main__sc .text1 .main__sc h5, main .main__sc .text1 .text1 h5, main .main__sc .text1 .top_text h5 {
  color: var(--Grey-70, #B3B3B3);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 27px */
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
main .main__sc .img {
  border-radius: 16px;
  background: lightgray 50%/cover no-repeat, url(<path-to-image>), lightgray 50%/cover no-repeat;
  background-blend-mode: overlay, normal;
}
main .main__sc .svg {
  z-index: 1;
  right: 0;
  position: absolute;
  fill: radial-gradient(152.24% 143.75% at 103.26% 0%, rgba(25, 25, 25, 0.3) 20.29%, rgba(202, 255, 51, 0.3) 34.91%, rgba(25, 25, 25, 0.3) 60.69%);
}